body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color:white;
}

.menu {
  font-size: 18px;
  color:white;
}

.header {
  background-image: url("../resources/the-flatiron-building.png");
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.third_section h2 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../resources/the-flatiron-building.png");
}

.footer span {
  font-size: 11px;
  color:white;
}

.footer a {
  color: white;
}

.footer {
  background-color: dimgray;
  text-align: left;
}
